# ignore all files starting with ., except .gitignore
.*

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore

# ignore composer files(include vendor folder)
composer.lock
vendor/
# ignore all files that start with ~
~*

# ignore log files
*.log
*.tmp

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore test command
test.php
